mat-nav-list{
  width: 240px;
}

.edit-button{
  position: absolute;
  margin-left: 180px;

}
.myclass .courseName{
  word-break: break-word;
  max-width: 150px;
  padding: 16px;
}
.myclass{
  overflow: hidden;
  height: auto !important;
}
.delete-course-class{
  position: absolute;
  left: 5px;
  font-size: 18px;
  padding-top: 10px;

  padding-left: 10px;
  margin-left: 5px;
}

.slide{
  color: #3f51b5;
}
